/*-----------------------Основні настройки-----------------------*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Alegreya SC', serif;
}
a{
	text-decoration: none;
}
.Top{
	border-bottom: 1px solid black;
}
img{
	width:25%;
}
ul{
	padding-bottom: 1%;
    padding-top: 1%;
}
/*-----------------------Лого та налаштування---------------------*/
.Top h1{/*Лого */
	animation-name: opac;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	color:#FF8552;
	font-size: 10vw;
	text-align: center;
	padding-top: 1%;
	-webkit-text-stroke: 1px #000000;
}
@keyframes opac{/*Анімація появи фото*/
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}
/*-----------------------Налаштування блоків---------------------*/
.menu_bottom{
	text-align: center;
	width:100%;
	border-bottom: black solid 1px;
	background-color: #E8E8E8;
}
.menu_bottom li{
	display: inline;
	font-size: 4vw;
}
.menu_bottom a{
	color:#974B4B;
	-webkit-text-stroke: 1px #000000;
}
/*--------------------Меню------------------------*/
#mid{
	padding-left: 2.5%;
	padding-right: 2.5%;
}
.mid_menu{
	width: 100%;
	align-items: center;
}
/*---------------------Блок з тістечками-----------------------*/
.Cakes{
	text-align: center;
	margin-top: 2%;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 2%;
	border-bottom: black solid 1px;
	border-top: black solid 1px;
}
.Cakes img{
	width:30%;
}
#mt{
	padding-left: 5%;
	padding-right: 5%;
}
#cake_text_bottom{
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 2vw;
}
#cake_text_bottom h2{
	color: black;
	display: inline;
}
#cake_text_top{
	margin-bottom: 1%;
	color:#38ae7e;
	border-bottom: 1px solid black; 
	padding-top: 1%;
	text-align: center;
	font-size: 3.5vw;
	padding-bottom: 1%;
	background-color: #FF8552;
}
#cake_photo img{
	width:25%;
}
#cake_text_top h2{
	-webkit-text-stroke: 1px #000000;
	color:#38ae7e;
}
#midPict{
	padding-left:12.5%;
	padding-right:12.5%;
}
/*-----------------------Меню---------------------*/
.UpperBar {
	margin-left: 5%;
	margin-bottom: 1%;
	margin-top: 1%;
}
.UpperBar h2{
	color:black;
	font-size: 2vw;
	float: left;
	padding-bottom: 1%;
}
/*------------------Напої--------------------------*/
.Drinks{
	margin-top: 2%;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 2%;
	border-bottom: black solid 1px;
	border-top: black solid 1px;
}
#drinks_text_bottom h2{
	display: inline;
	color:black;
	text-align: center;
}
#drinks_text_bottom{
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 2vw;
	text-align: center;
}
#drinks_text_top{
	margin-bottom: 1%;
	color:#38ae7e;
	border-bottom: 1px solid black; 
	padding-top: 1%;
	text-align: center;
	font-size: 3.5vw;
	padding-bottom: 1%;
	background-color: #FF8552;
	text-align: center;
}
#drinks_text_top h2{
	-webkit-text-stroke:1px #000000;
	color: #38ae7e;
	text-align: center;
}
#drinks_img img{
	width:30%;
}
#LeftPhoto{
	padding-left: 10%;
	padding-right: 20%;
}
/*----------------------Низ сайта----------------------*/
.bottom{/*Блок з контактними даними*/
	align-items:center;
	padding-top: 10%;
	width:100%;
	background-color: #D8D8D8;
}
.bottom img{
	width:5%;
	margin-left: 21.25%;
	margin-bottom: 3%;
}
.bottom h1{
	text-align: center;
	word-spacing: 2%;
	font-size: 3vw;
}
.info ul{/*Контактна інформація*/
	font-size: 3vw;
}
.info h1{
	font-size: 5vw;
}
.info li{
	padding-bottom: 1%;
	text-align: center;
}
.info {
	margin-bottom: 2%;
}
/*-----------------------Блок Сувеніри---------------------*/
.souvenir{
	margin-left: 5%;
	width: 90%;
	border-bottom: 1px solid black;
	margin-bottom: 2%;
}
#souvenir_top{
	margin-bottom: 1%;
	background-color:#FF8552;  
	font-size: 3.5vw;
	text-align: center;
	width:100%;
	border-top:1px solid black;
	border-bottom: 1px solid black;
}
#souvenir_top h2{
	color:#38ae7e;
	-webkit-text-stroke: 1px #000000;
}
#souvenir_bottom h2{
	display: inline;
	color:black;
}
#souvenir_bottom{
	text-align: center;
	padding-bottom: 2%;
	padding-top: 2%;
	font-size: 2vw;
}
#souvenir img{
	width:25%;
}
