* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;

}

/*-------------Wrapper----------------*/
.wrapper {
    width: 100%;
    background: #011627;
}

/*--------------Main Page Menu---------------*/
#Main-Page-Name {
    margin-right: 10%;
    max-height: 15vh;
    font-size: 7.5vh;
    color: #FDFFFC;
}

.menu a:hover {
    transition-timing-function: linear;
    color: #F71735;
    transition-duration: 500ms;
}

.menu {

    display: flex;
    height: 15vh;

    flex-direction: row;
}

.menu img {
    margin-left: 10vh;
    margin-right: 10vh;
    max-height: 15vh;
    max-width: 15vh;
}

.menu a {
    margin: 0 5vh 0 5vh;
    font-size: 7.5vh;
    color: #FF9F1C;
    text-decoration: none;
}

.menu nav {
    max-height: 15vh;
}

/*----------------------Main Page Main Part---------------------------*/
.Main-part {
    width: 100%;
    background-image: url(Images/Background/Main.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
}

.Main-part h2 {
    padding-top: 20vh;

    padding-left: 10vh;
    font-size: 10vh;
    color: #FDFFFC;
}

/*--------------------------About Us---------------------------------*/
@keyframes About-Us {
    from {
        color: #F71735;
    }

    to {
        color: #41EAD4;
    }
}

@keyframes About-Us-Back {
    from {
        color: #41EAD4;
    }

    to {
        color: #F71735;
    }
}


@keyframes About-Us-Img {
    from {
        width: 70%;
    }

    to {
        width: 50%;
    }
}

@keyframes About-Us-Img-Back {
    from {
        width: 50%;
    }

    to {
        width: 70%;
    }
}

.About-Us {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#About-Us-Name {
    text-align: center;
    padding-bottom: 2vh;
    font-size: 7vh;
    color: #F71735;
}

#About-Us-Name:hover {

    transition-timing-function: linear;
    color: #41EAD4;
    transition-duration: 500ms;
}


.About-Us p {
    text-align: center;
    color: #FDFFFC;
    font-size: 2vh;
    padding-bottom: 5vh;
}

.About-Us-Review {
    display: inline-block;
    color: #41EAD4;
    font-size: 4vh;
}

.Card {
    text-align: center;
    width: 20vw;
    display: inline-block;
    animation: About-Us-Back .3s linear;
    animation-fill-mode: both;
}

.Card:hover {
    animation: About-Us .3s linear;
    animation-fill-mode: both;
}

.Card img {
    width: 70%;
    animation: About-Us-Img-Back .3s linear;
    animation-fill-mode: both;
}

.Card img:hover {
    animation: About-Us-Img .3s linear;
    animation-fill-mode: both;

}

/*----------------Pc Assortment-----------*/
@keyframes Pc-Assort {
    from {
        color: #41EAD4;
    }

    to {
        color: #F71735;
    }
}

@keyframes Pc-Assort-Back {
    from {
        color: #F71735;
    }

    to {
        color: #41EAD4;
    }
}


@keyframes Pc-Assort-Img {
    from {
        width: 70%;
    }

    to {
        width: 90%;
    }
}

@keyframes Pc-Assort-Img-Back {
    from {
        width: 90%;
    }

    to {
        width: 70%;
    }
}


.Pc-Assort {
    text-align: center;
    padding-top: 2vh;
}

#Pc-Assort-Name {
    font-size: 7vh;
    text-align: center;
    color: #FF9F1C;
    padding-bottom: 3vh;
}

.Pc-Assort-Card {
    display: inline-block;
    text-align: center;
    color: #41EAD4;
    font-size: 4vh;
    width: 30vw;
    animation: Pc-Assort-Back .3s linear;
    animation-fill-mode: both;
}

.Pc-Assort-Card img {
    width: 70%;
    animation: Pc-Assort-Img-Back .3s linear;
    animation-fill-mode: both;
}

.Pc-Assort-Card:hover {
    animation: Pc-Assort .3s linear;
    animation-fill-mode: both;
}

.Pc-Assort-Card img:hover {
    animation: Pc-Assort-Img .3s linear;
    animation-fill-mode: both;

}

/*--------------------Headset Assortment--------------------*/
@keyframes Hd-Assort {
    from {
        color: #F71735;
    }

    to {
        color: #41EAD4;
    }
}

@keyframes Hd-Assort-Back {
    from {
        color: #41EAD4;
    }

    to {
        color: #F71735;
    }
}


@keyframes Hd-Assort-Img {
    from {
        width: 70%;
    }

    to {
        width: 90%;
    }
}

@keyframes Hd-Assort-Img-Back {
    from {
        width: 90%;
    }

    to {
        width: 70%;
    }
}

#Access-Name {
    text-align: center;
    font-size: 7vh;
    color: #FF9F1C;
}

#Access-SubName {
    padding-bottom: 10vh;
    text-align: center;
    font-size: 5vh;
    color: #F71735;
}

.Access-assort {
    text-align: center;
    padding-bottom: 10vh;
    padding-top: 5vh;
}

.Access-Card {
    display: inline-block;
    text-align: center;
    color: #F71735;
    font-size: 4vh;
    width: 30vw;
    animation: Hd-Assort-Back .3s linear;
    animation-fill-mode: both;
}

.Access-Card img {
    width: 70%;
    animation: Hd-Assort-Img-Back .3s linear;
    animation-fill-mode: both;
}
.Access-Card img:hover {
    animation: Hd-Assort-Img .3s linear;
    animation-fill-mode: both;
}

.Access-Card:hover {
    animation: Hd-Assort .3s linear;
    animation-fill-mode: both;
}
/*------------------------Footer---------------------------------*/
@keyframes Footer {
    from {
        color: #F71735;
    }

    to {
        color: #41EAD4;
    }
}

@keyframes Footer-Back {
    from {
        color: #41EAD4;
    }

    to {
        color: #F71735;
    }
}

.Main-Back {
    text-align: center;
    background-image: url(Images/Background/Headset.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}

.Main-Back h3 {
    padding-top: 25vh;
    color: #FDFFFC;
    font-size: 10vh;
}

.Footer-Card {
    padding-top: 10vh;
    text-align: center;
    display: inline-block;
    text-align: center;
    color: #F71735;
    font-size: 4vh;
    width: 20vw;
    animation: Footer-Back .3s linear;
    animation-fill-mode: both;
}

.Footer-Card-First {
    padding-bottom: 10vh;
    padding-top: 10vh;
    text-align: center;
    display: inline-block;
    text-align: center;
    color: #F71735;
    font-size: 4vh;
    width: 20vw;
    padding-left: 10vw;
    animation: Footer-Back .3s linear;
    animation-fill-mode: both;
}
.Footer-Card-First:hover{
    animation: Footer .3s linear;
    animation-fill-mode: both;
}
.Footer-Card:hover{
    animation: Footer .3s linear;
    animation-fill-mode: both;
}
